
#project-details a, .article-heading a{
    color: #B2B4CD;
}
#project-details a:hover, .article-heading a:hover{
    text-decoration: none;
    color: #FDDCBA;
}

#project-details h1{
    color: #ffffff;
}
#project-details p{
    color: rgb(178, 180, 205);
}
.project-image{
    padding: 3rem;
}

.project-image img{
   width: 80vw;
}
#project-details button{
    background: #e7b9c0;
    color: white;
}
#project-details button:hover{
    color: #ffffff;
}

.link-work{
    color: #cccdcf;
    transition: color ease 0.3s;
}
.link-work::after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 25%;
    background: #32354D;
    transition: all ease 0.3s;
}
.link-work:hover{
    color: white;
    text-decoration: none;
}
.link-work:hover::after{
    height: 100%;
}

@media only screen and(min-width:768px){
    .link-work:after{
        width:100%;
    }
}