#work-description{
    margin: 4rem 0;
}
#work-description h1{
    margin-bottom: 1rem;
}
.work-intro{
    font-size: 16px;
    margin-bottom: 10px;
}
.featured-work-card h2, #articles h2{
    color: #eaf4f7;
}
.featured-work-card {
    /* background: #222435; */
    transition: all .5s ease; 
}
 .featured-work-card:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: all .4s ease;
} 

@media only screen and ( min-width:1024px ){
    .work-intro{
        font-size: 18px;
    }
}