
.heading-text h1 {
    color: #ffffff;  
}
.heading-text h4, p{
    color: rgb(178, 180, 205);
}

.heading-image img {
    width: 39vw;
    height: 48rem;
}

.article-content{
    height: auto;
    
}

.link-article{
    color: #cccdcf;
    transition: color ease 0.3s;
}
.link-article::after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 25%;
    background: #32354D;
    transition: all ease 0.3s;
}
.link-article:hover{
    color: white;
    text-decoration: none;
}
.link-article:hover::after{
    height: 100%;
}