#contact{
    position: relative;
 /*   left: 22vw;  */
}
#contact a{
    font-size: 2rem;
}
.contact-card{
    background: #22243580;
    width: 290px;
    height: 105px;
    border-radius: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
}
.contact-card:hover{
    background: #222435cc;
}
.contact-link{
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: white;
    transition: color ease 0.3s;
}

.contact-link::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -9px;
    bottom: 0;
    width: 104%;
    height: 25%;
    background: #e7b9c0;
    transition: all ease 0.3s;
}
.contact-link:hover a{
    color: #FDDCB0;
    text-decoration: none;
}
.contact-link:hover::after{
    height: 100%;
}
 
@media only screen and (min-width: 600px){
    .contact-card{
        padding: 1rem;
    }
}