.quote{
    color: white;
    width: 75vw;
    margin: 0 auto;
}
.quote::before{
    content: open-quote;
}
.quote::after{
    content: close-quote;
}
.name{
    color: #e7b9c0;
}
.name::before{
    content: '';
    display: inline-block;
    width: 4rem;
    height: 0.5rem;
    background: #e7b9c0;
    vertical-align: middle;
    margin-right: 1rem;
}

  