#featured-work h2{
    color: #eaf4f7;
}
.featured-work-card h2, #articles h2{
    color: #eaf4f7;
} 
.featured-work-card {
    background: #22243580;
    transition: all .5s ease; 
}
 .featured-work-card:hover {
     background-color: #222435cc;
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: all .4s ease;
}

.work-details .description{
     color: #B2B4CD;
 }
 .work-details .btn{
    background: #fd98d2;
    font-weight: bolder;
 }
 .platform{
    color: #e7b9c0;
     /* font-size: 16px; */
 }
 .case-study{
    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
 }
 
/* #more-projects a{
    color: #FDDCB0;
} */


